/* ========================
   Body y Tipografía
======================== */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* ========================
   Header
======================== */
header h1 {
    font-size: 3em;
    letter-spacing: 4px;
    margin-bottom: 0px;  /* espacio entre I.PESOA y EDITORIAL */
    text-transform: uppercase;
    text-align: center;
}

header h2 {
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

/* ========================
   Botón RANDOM
======================== */
button#random-btn {
    background-color: #fff;       
    color: #000;                  
    border: 1px solid #000;       
    padding: 10px 5px;            
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 20px;
}

button#random-btn:hover {
    background-color: #000;
    color: #fff;
}

/* ========================
   Contenedor de Cartel / Imagen
======================== */
.cartel-container {
    margin-top: 20px;
}

.imagen-container {
    width: 300px;      
    height: 424px;     
    margin: 0 auto;
    position: relative;
}

/* Imagen y Hover_text ocupan el mismo espacio */
.imagen-container img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Hover text ajustado */
.imagen-container .hover-text {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 0.5em;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* ========================
   Links debajo de la imagen
======================== */
.links {
    display: flex;
    justify-content: space-between;
    max-width: 300px;   
    margin: 10px auto;  
}

.links a {
    position: relative;
    padding: 2px 6px;            
    text-decoration: none;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    transition: all 0.2s ease;
}

.links a:hover {
    color: #fff;
    background-color: #000;  
}

/* ========================
   Botón Volver al inicio
======================== */
.volver {
    text-align: center;
    margin-top: 30px;
}

.volver button {
    padding: 10px 20px;
    background-color: #f05a28;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 3px;
}

@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    .imagen-container {
        width: 90vw;          
        height: calc(90vw * 1.414); 
    }

    .links {
        max-width: 90vw;
    }

    header h1 {
        font-size: 2.2em;
    }

    header h2 {
        font-size: 1.2em;
    }
}
